@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/RobotoLight/RobotoLight.eot");
    src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/RobotoMedium/RobotoMedium.eot");
    src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    background: #ffffff;
    font-family: RobotoRegular;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



/*System css*/

.pad0{
    padding-left: 0;
    padding-right: 0;
}

.load_block{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    display: none;
    z-index: 1000;
}

.load_block img{
    width: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;  
}



/*Block main image */

.main_png{
    position: relative;
    text-align: center;
    margin-top: 30px;
    display: inline-block;
    border: 1px solid #e8e8e8;
}

.shdd{
    position: absolute;
}

.main_png_block{
    position: relative;
    width: 900px;
    margin: 0 auto;
}

.oboi1{
    background: #fff;
    position: absolute;
    left: 0;
    top: 82px;
    width: 110px;
    height: 416px;
    z-index: -1;
}

.oboi2{
    background: #fff;
    position: absolute;
    left: 110px;
    top: 82px;
    width: 139px;
    height: 416px;
    z-index: -2;
    -webkit-clip-path: polygon(0% 0%, 94% 25%, 100% 90%, 0% 98%);
    clip-path: polygon(0% 0%, 94% 25%, 100% 90%, 0% 98%);
}

.oboi3{
    background: #fff;
    position: absolute;
    left: 241px;
    top: 193px;
    width: 100px;
    height: 239px;
    z-index: -5;

    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
    -ms-filter: "FlipH"; 
}

.oboi4{
    background: #fff;
    position: absolute;
    left: 341px;
    top: 193px;
    width: 208px;
    height: 239px;
    z-index: -6;
}

.oboi5{
    background: #fff;
    position: absolute;
    left: 549px;
    top: 193px;
    width: 98px;
    height: 239px;
    z-index: -7;
}

.oboi6{
    background: #fff;
    position: absolute;
    left: 647px;
    top: 19px;
    width: 253px;
    height: 505px;
    z-index: -1;
    -webkit-clip-path: polygon(0% 35%, 107% 0%, 100% 100%, 0% 84%)!important;
    clip-path: polygon(0% 35%, 107% 0%, 100% 100%, 0% 84%)!important;
}

.potolok{
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 900px;
    height: 195px;
    z-index: -2;
}

.potolok_oboi{
    background: transparent;
    position: absolute;
    left: 138px;
    top: 0;
    width: 804px;
    height: 187px;
    z-index: -2;
    background-size: cover;
    -webkit-clip-path: polygon(0% 0%, 79% 0%, 59% 87%, 17% 86%);
    clip-path: polygon(0% 0%, 79% 0%, 59% 87%, 17% 86%);
}

.potolok_oboi_two{
    background: transparent;
    position: absolute;
    left: 0px;
    top: -49px;
    width: 899px;
    height: 289px;
    z-index: -2;
    -webkit-transform: rotateX(49deg);
    -moz-transform: rotateX(49deg);
    -o-transform: rotateX(49deg);
    transform: rotateX(49deg);
}

.potolok_two_level {
    position: absolute;
    left: 126px;
    top: 26px;
    z-index: 8;
    width: 592px;
    height: 167px;
    display: block;
}

.potolok_level{
    position: absolute;
    background: red;
    left: 0px;
    top: -26px;
    z-index: -2; 
    -webkit-clip-path: polygon(0% 0%, 79% 0%, 59% 87%, 17% 86%);
    clip-path: polygon(0% 0%, 79% 0%, 59% 87%, 17% 86%);
}

.glan{
    position: absolute;
    top: 32px;
    left: 143px;
    display: none;
}

.svet2{
    position: absolute;
    top: 20px;
    left: 315px;
}

.svet3{
    position: absolute;
    top: 113px;
    left: 300px;
}

.svet4{
    position: absolute;
    top: 118px;
    right: 296px;
}

.svet5{
    position: absolute;
    top: 22px;
    right: 313px;
}

.lust{
    position: absolute;
    top: 50px;
    left: 396px;
    width: 106px;
    display: none;
}

.lenta{
    position: absolute;
    top: 0px;
    left: 72px;
    display: none;
}

.pol{
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 900px;
    height: 141px;
    z-index: -2;
}

.tw_l{
    position: absolute;
    left: 33px;
    top: 1px;
    z-index: -2;
    display: none;
}

.tw_l_img { 
    background-color: #f1f1f1; 
    width: 867px; 
    height: 197px; 
}

.tw_l_img { 
    -webkit-mask-image: url('../images/pol1.png'); 
}

.tw_l1{
    position: absolute;
    left: 33px;
    top: 1px;
    z-index: -2;
    display: none;
}

.tw_l_img1 { 
    width: 867px; 
    height: 197px; 
    background: url('../images/pol2.png'); 
}

/*END Block main image */








.title_gray{
    text-align: center;
    color: #929292;
    font-family: RobotoLight;
    font-size: 14px;
    margin-top: 13px;
    margin-bottom: 5px;
}

.dop_img{
    width: 42px; 
    vertical-align: middle;
}


















/*Mobile Orientation*/

.main_edit_download{
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    z-index: 1000000;
    background: #ffdd55;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
}


/*================*/

.main_edit{
    position: relative;
    text-align: left;
    display: inline-block;
    width: 220px;
    height: 100%;
    vertical-align: top;
    margin-top: 30px;
    padding: 0px 15px 15px 15px;
}

.main_edit .row{
    margin-bottom: 11px;
}

.main_edit-title{
    font-family: RobotoRegular;
    font-size: 14px;
}

.btn-colorselector {
    border-radius: 4px;
    border: 1px solid #d8d8d8;
}

.upload_oboi{
    text-align: center;
    background: #ffdd55;
    color: #3d3c3c;
    padding: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 13px;
    width: 207px;
}

.upload_oboi_title{
    font-family: RobotoMedium;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}

.upload_oboi_title1{
    margin-top: 0px;
}

/*Simple oboi block*/

.oboi_simple{
    overflow-y: auto;
    height: 330px;
}

.oboi_simple::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: transparent;
}

.oboi_simple::-webkit-scrollbar
{
    width: 12px;
    background-color: transparent;
}

.oboi_simple::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #AFAFAF;
}

.set_color_block{
    position: fixed;
    bottom: -70%;
    left: 0;
    right: 0;
    height: 60%;
    background: #fff;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 87px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 87px -20px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 87px -20px rgba(0,0,0,0.75);
    text-align: center;
    display: none;
}

.set_color_block_close{
    margin: 10px 16px 0px 0;
    text-align: right;
    font-size: 17px;
    color: #a2a2a2;
}

.set_color_block_text{
    margin: 10px 0 5px 16px;
    text-align: left;
    font-size: 17px;
}

.set_color_block_item{
    background: red;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 12px;  
}

.set_ccolor{
    background: #d7d7d7;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
}

.set_color_block_mini{
    position: absolute;
    left: -30px;
    top: 0;
    width: 247px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 0px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 0px 12px rgba(0, 0, 0, .175);
    text-align: center;
    padding-top: 4px;
    display: none;
}

.set_color_block_mini .set_color_block_item{
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin: 1px;
    display: inline-block;
    cursor: pointer;
}

.set_color_block_mini:before {
    content: "";
    display: inline-block;
    position: absolute;
    border-bottom: 7px solid rgba(0,0,0,.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    left: 76px;
    top: -7px;
}

.set_color_block_mini:after {
    content: "";
    display: inline-block;
    position: absolute;
    border-bottom: 6px solid #FFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    left: 77px;
    top: -6px;
}

.set_color_block_mini.rott:before {
    content: "";
    display: inline-block;
    position: absolute;
    border-bottom: 7px solid rgba(0,0,0,.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    left: 76px;
    top: initial;
    bottom: -7px;

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.set_color_block_mini.rott:after {
    content: "";
    display: inline-block;
    position: absolute;
    border-bottom: 6px solid #FFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    left: 77px;
    top: initial;
    bottom: -6px;

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#id_open_color_set_mini1, #id_open_color_set_mini2, #id_open_color_set_mini3, #id_open_color_set_mini4{
    text-align: center;
    color: #fff;
    font-family: RobotoBold;
    position: absolute;
    right: 14px;
    top: 0;
}

.send_form_btn{
    background: #ffdd55;
    color: #3d3c3c;
    width: 222px;
    margin: 0 auto;
    padding: 9px 0;
    margin-bottom: 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.send_form{
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.form_send_kont{
    position: absolute;
    left: -16px;
    bottom: 84px;
    width: 325px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 7px;
    -webkit-box-shadow: 0 0px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 0px 38px rgba(0, 0, 0, .875);
    text-align: center;
    padding: 15px 19px;
    display: none;
}

.form_send_kont:before {
    content: "";
    display: inline-block;
    position: absolute;
    border-bottom: 7px solid rgba(0,0,0,.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    left: 159px;
    top: initial;
    bottom: -7px;

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.form_send_kont:after {
    content: "";
    display: inline-block;
    position: absolute;
    border-bottom: 6px solid #FFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    left: 160px;
    top: initial;
    bottom: -6px;

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.send_form_btn1{
    color: #fff;
    width: 200px;
    margin: 0 auto;
    padding: 5px 0;
    margin-bottom: 15px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.send_form_btn_dop{
    color: #4a76a8;
    font-size: 14px;
    margin-bottom: 15px;
    text-decoration: underline;
    cursor: pointer;
}

.text_box_input {
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
    -webkit-shadow: none!important;
    box-shadow: none!important;
    font-size: 14px !important;
    height: 32px!important;
    outline: none!important;
    padding: 0 7px!important;
    position: relative!important;
    width: 100%!important;
    border-radius: 4px!important;
    margin-bottom: 20px!important;
    border: 1px solid #adadad!important;
}

.textarea_input {
    font-size: 14px!important;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif!important;
    -moz-border-radius: 5px!important;
    -webkit-border-radius: 5px!important;
    border-radius: 4px!important;
    margin-bottom: 20px!important;
    width: 100%!important;
    height: 100px!important;
    padding-left: 7px!important;
}




/*ScreenShot Class*/

.screenshot_class{
    position: absolute;
    bottom: 11px;
    right: 14px;
    background: white;
    padding: 9px 14px;
    color: #141414;
    border-radius: 4px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
    font-size: 15px;
}

.screenshot_class:after{
    content: '';
    position: absolute;
    bottom: 11px;
    right: -18px;
    border: 11px solid transparent;
    border-left: 11px solid #ffffff;
}

.screenshot_class img{
    width: 20px;
}

.show_screeshot{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    z-index: 10000;
    display: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

.show_screeshot_image{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    height: auto;
    margin: auto;
    border-radius: 11px;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
    display: none;
}


.show_screeshot_panel_sh{
    position: fixed;
    top: -31px;
    left: 0;
    width: 100%;
    height: 29px;
    -webkit-box-shadow: 0px 38px 73px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 38px 73px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 38px 73px 0px rgba(0,0,0,0.75);
}

.show_screeshot_panel{
    position: fixed;
    top: -50px;
    left: 0;
    width: 100%;
    padding-top: 15px;
    text-align: center;
/*    background: rgba(0,0,0,0.6);*/
    padding-bottom: 15px;
}

.show_screeshot_close{
    position: relative;
    top: -5px;
    right: 10px;
    width: auto;
    height: auto;
    margin: auto;
    cursor: pointer;
    float: right;
}

.show_screeshot_panel_item{
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 40px;
}

.show_screeshot_panel_item img{
    width: 20px;
    vertical-align: bottom;
}


#id_send_form_btn_all{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    z-index: 1000000;
    display: none;
}

#id_send_form_btn_all div{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 30px;
    font-size: 23px;
    color: #fff;
    text-align: center;
}


.store_item{
    text-align: center;
}

.store_item img{
    width: 120px;
}

.store_item_title{
    font-size: 23px;
    margin-top: 10px;
}

.store_item_desc{
    font-size: 15px;
    font-family: RobotoLight;
    color: #525252;
}

.b_calc{
    margin-bottom: 15px;
    padding: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: underline;
    color: #4a76a8;
}

#id_calc_form{
    
}

.send_close_b{
    position: absolute;
    right: -11px;
    top: -17px;
    cursor: pointer;
}

.ebod{
    font-size: 14px;
    font-family: RobotoRegular;
    margin-bottom: 7px;
}

.ebod span{
    font-size: 14px;
    font-family: RobotoLight;
}

.oboi_example{
    position: absolute;
    top: 1px;
    right: 13px;
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background: #e6c645;
    border-radius: 4px;
}

.oboi_example_rot{
    transform: rotate(180deg);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}


.oboi_list_ex{
    position: absolute;
    right: 9px;
    top: 44px;
    width: 248px;
    height: 400px;
    background: #fefefe;
    z-index: 1000;
    -webkit-box-shadow: 0 0px 25px rgba(0, 0, 0, .575);
    box-shadow: 0 0px 25px rgba(0, 0, 0, .575);
    text-align: center;
    border-radius: 8px;
    padding-right: 5px;
}

.oboi_list_ex:after{
    content: "";
    display: inline-block;
    position: absolute;
    border-bottom: 6px solid #FFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    right: 13px;
    top: -6px;
}

.oboi_list_ex img{
    width: 20%;
    margin: 2px 2px 2px 2px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);  
}

.oboi_list_ex img:hover{
  -webkit-transform: scale(1.15, 1.15);
  transform: scale(1.15, 1.15);
}


.load_srcc{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    color: #fff;
    font-family: RobotoLight;
    font-size: 29px;
    width: 100%;
    height: 43px;
}

.idea_text span{
    
}

.project_info{
    padding-left: 52px;
    position: relative;
}

.project_info:before{
    content: '';
    background: url(../images/icon_version.png);
    background-size: contain;
    width: 42px;
    height: 42px;
    position: absolute;
    left: 0;
    top: 9px;
}

.project_info span{
    border-bottom: 1px dashed #ccc;
}

.project_buy{
    position: relative;
    display: inline-block;
    margin-right: 15px;
    background: #ffdd55;
    padding: 5px 0;
    cursor: pointer;
    border-radius: 4px;
    width: 115px;
    text-align: center;
    margin-top: 15px;
}

.download_demo{
    position: relative;
    display: inline-block;
    margin-right: 15px;
    background: #bbdcff;
    padding: 5px 0;
    cursor: pointer;
    border-radius: 4px;
    width: 229px;
    text-align: center;
    margin-top: 15px;
}

.org_info{
    float: right;
    padding-right: 52px;
    text-align: right;
    font-size: 23px;
}

.org_info span{
    font-size: 14px;
    font-family: RobotoLight;
    border-bottom: none;
}

.mar-bot{
    margin-bottom: 5px;
}

.screen_to span{
    color: #2e6ebf;
    font-size: 15px;
    cursor: pointer;
}

.screen_to span.active{
    padding-bottom: 1px;
    background: #2e6ebf;
    color: #fff;
    padding: 5px 19px 6px 19px;
    border-radius: 19px;
}

#id_screen_computer img, #id_screen_tablet img{
    width: 260px;
    height: auto;
    margin-right: 5px;
}

#id_screen_phone img{
    width: 130px;
    height: auto;
    margin-right: 15px;
}

.news_app {
    background: #fff;
    width: 100%;
    height: 168px;
    overflow-y: hidden;
    position: relative;
    line-height: 20px;
}

.news_app::after {
    background: #fff;
    width: 100%;
    height: 200px;
    overflow-y: hidden;
    position: relative;
    line-height: 20px;
}

.news_app_open{
    color: #2e6ebf;
    text-decoration: underline;
    cursor: pointer;
}

.mfp-title {
    display: none;
}

.mfp-counter{
    display: none;
}

.popup-gallery a:focus{
    text-decoration: none;
}



.price_title{
    font-size: 14px;
    background: #ffdd55;
    padding: 7px 0;
    border-right: 3px solid #fff;
}

.price_desc{
    font-size: 14px;
    border-right: 1px dashed #ccc;
}

.price_hr{
    border-bottom: 1px dashed #ccc;
    padding-top: 11px;
    padding-bottom: 0px;
}

.price_val{
    font-family: RobotoMedium;
    font-size: 18px;
}

.price_img{
    position: absolute;
    left: -32px;
    top: 3px;
}

.price_valb{
    font-size: 14px;
    background: #ffdd55;
    padding: 5px 0;
    cursor: pointer;
    border-right: 20px solid #fff;
    border-left: 20px solid #fff;
    margin-top: 6px;
    margin-bottom: 15px;
}

.send_klient{
    position: absolute;
    bottom: 60px;
    left: 169px;
    width: 266px;
    height: 330px;
    background: #464545;
    border-radius: 4px;
    -webkit-box-shadow: 0 0px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 0px 12px rgba(0, 0, 0, .175);
    padding: 16px;
}

.send_klient:after {
    content: "";
    display: inline-block;
    position: absolute;
    border-bottom: 6px solid #464545;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    left: 126px;
    top: initial;
    bottom: -6px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.send_klient_title{
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
    font-family: RobotoLight;
    font-size: 23px;
}

.send_klient_tit_plan{
    color: #c3bebe;
    margin-bottom: 13px;
    font-family: RobotoLight;
}

.send_klient_tit_plan span{
    color: #fff;
}

.send_klient_tit{
    color: #c3bebe;
    font-family: RobotoLight;
}

.send_klient_b{
    background: #ffdd55;
    text-align: center;
    padding: 7px 0;
    width: 144px;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 14px;
    cursor: pointer;
}

.send_klient_close{
    position: absolute;
    right: -14px;
    top: -16px;
    cursor: pointer;
}

.send_sogl{
    
}





.info_block{

}























.welcome_form_block_op{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #1d1d1d;
}

.welcome_form_block{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 116px;
    text-align: center;
}

.welcome_form_title{
    font-size: 60px;
    color: #fff;
    font-family: RobotoLight;
}
















